jDeveloper/Saude365/HSN/xsd/exam.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Schema - XSD -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://saude365.pt"
            xmlns:tns="http://saude365.pt"
            elementFormDefault="qualified">

    <xsd:element name="Exam" type="tns:ExamType"/>

    <xsd:complexType name="ExamType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="dataHora" type="xsd:dateTime"/>
            <xsd:element name="tipo" type="xsd:string"/>
            <xsd:element name="result" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
