jDeveloper/Saude365/HSN/xsd/generated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="invoice">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="seller">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="entityIdTypeCoded"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="name"/>
										<xs:element name="addressInformation">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="address"/>
													<xs:element type="xs:string" name="city"/>
													<xs:element name="postalCode">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="zip"/>
																<xs:element type="xs:string" name="area"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="countryCode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:int" name="vatNumber"/>
										<xs:element type="xs:int" name="commercialRegistrationNumber"/>
										<xs:element type="xs:string" name="commercialRegistrationLocation"/>
										<xs:element type="xs:int" name="socialCapital"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="buyer">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:int">
														<xs:attribute type="xs:string" name="entityIdTypeCoded"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="name"/>
										<xs:element name="addressInformation">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="address"/>
													<xs:element type="xs:string" name="city"/>
													<xs:element name="postalCode">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="zip"/>
																<xs:element type="xs:string" name="area"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="countryCode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:int" name="vatNumber"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="billTo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:int">
														<xs:attribute type="xs:string" name="entityIdTypeCoded"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="name"/>
										<xs:element name="addressInformation">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="address"/>
													<xs:element type="xs:string" name="city"/>
													<xs:element name="postalCode">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="zip"/>
																<xs:element type="xs:string" name="area"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="countryCode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:int" name="vatNumber"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="shipTo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:int">
														<xs:attribute type="xs:string" name="entityIdTypeCoded"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="name"/>
										<xs:element name="addressInformation">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="address"/>
													<xs:element type="xs:string" name="city"/>
													<xs:element name="postalCode">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="zip"/>
																<xs:element type="xs:string" name="area"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="countryCode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="additionalDate">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute type="xs:string" name="type" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="reference">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:int">
											<xs:attribute type="xs:string" name="type" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="currencyCode" type="xs:string"/>
							<xs:element name="lineItem">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:long" name="gtinCode"/>
										<xs:element type="xs:int" name="sellerItemCode"/>
										<xs:element type="xs:int" name="buyerItemCode"/>
										<xs:element type="xs:string" name="description"/>
										<xs:element name="quantity">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:byte" name="value"/>
													<xs:element type="xs:string" name="unitOfMeasure"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:float" name="netUnitPrice"/>
										<xs:element type="xs:float" name="grossUnitPrice"/>
										<xs:element type="xs:float" name="vatPercentage"/>
										<xs:element type="xs:float" name="vatAmount"/>
										<xs:element type="xs:float" name="taxableAmount"/>
										<xs:element type="xs:float" name="netAmount"/>
									</xs:sequence>
									<xs:attribute type="xs:byte" name="number" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="vatSummary">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:float" name="vatPercentage"/>
										<xs:element type="xs:float" name="vatAmount"/>
										<xs:element type="xs:float" name="taxableAmount"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="totalVatAmount" type="xs:float"/>
							<xs:element name="totalTaxableAmount" type="xs:float"/>
							<xs:element name="totalNetAmount" type="xs:float"/>
							<xs:element name="totalGrossAmount" type="xs:float"/>
							<xs:element name="totalDiscountAmount" type="xs:float"/>
							<xs:element name="totalPayableAmount">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:float">
											<xs:attribute type="xs:string" name="textAmount"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sender">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="entityIdTypeCoded"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="name"/>
							<xs:element name="addressInformation">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="countryCode"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="receiver">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:int">
											<xs:attribute type="xs:string" name="entityIdTypeCoded"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="name"/>
							<xs:element name="addressInformation">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="countryCode"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
