jDeveloper/Saude365/HSN/CareUnitDatabase.wsdl

<?binding.jca CareUnitDatabase_db.jca?>
<wsdl:definitions name="CareUnitDatabase" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/Saude365/HSN/CareUnitDatabase" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/Saude365/HSN/CareUnitDatabase" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/CareUnitDatabase">
    <plt:partnerLinkType name="CareUnitDatabase_plt">
        <plt:role name="CareUnitDatabase_role">
            <plt:portType name="tns:CareUnitDatabase_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CareUnitDatabase" schemaLocation="xsd/CareUnitDatabase_table.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="CareunitsCollection_msg">
        <wsdl:part name="CareunitsCollection" element="top:CareunitsCollection"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:CareunitsPrimaryKey"/>
    </wsdl:message>
    <wsdl:portType name="CareUnitDatabase_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:CareunitsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:CareunitsCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
