jDeveloper/Saude365/HSN/DBPharmacy.wsdl

<?binding.jca DBPharmacy_db.jca?>
<wsdl:definitions name="DBPharmacy" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/Saude365/HSN/DBPharmacy" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/Saude365/HSN/DBPharmacy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBPharmacy">
    <plt:partnerLinkType name="DBPharmacy_plt">
        <plt:role name="DBPharmacy_role">
            <plt:portType name="tns:DBPharmacy_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBPharmacy" schemaLocation="xsd/DBPharmacy_table.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="PharmacyCollection_msg">
        <wsdl:part name="PharmacyCollection" element="top:PharmacyCollection"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:PharmacyPrimaryKey"/>
    </wsdl:message>
    <wsdl:portType name="DBPharmacy_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:PharmacyCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:PharmacyCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
