jDeveloper/Saude365/HSN/wsdl/CTTValidatorService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="CTTValidatorService"
     targetNamespace="http://cttvalidator/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://cttvalidator/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cttvalidator/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://cttvalidator/">
            <xsd:complexType name="validate">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="validate" type="tns:validate"/>
            <xsd:complexType name="validateResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="validateResponse" type="tns:validateResponse"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="validateInput">
        <wsdl:part name="parameters" element="tns:validate"/>
    </wsdl:message>
    <wsdl:message name="validateOutput">
        <wsdl:part name="parameters" element="tns:validateResponse"/>
    </wsdl:message>
    <wsdl:portType name="CTTValidator">
        <wsdl:operation name="validate">
            <wsdl:input message="tns:validateInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:validateOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CTTValidatorSoapHttp" type="tns:CTTValidator">
        <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
        <wsdl:operation name="validate">
            <soap12:operation soapAction="" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CTTValidatorService">
        <wsdl:port name="CTTValidatorSoap12HttpPort" binding="tns:CTTValidatorSoapHttp">
            <soap12:address location="http://localhost:7101/Saude365-CTTValidator-context-root/CTTValidatorSoap12HttpPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
